<template>
    <main>
        <header class="flex items-center justify-center bg-black text-white h-12">
            <inertia-link class="px-4" href="/">Home</inertia-link>
            <inertia-link class="px-4" href="/users">Index</inertia-link>
            <inertia-link class="px-4" href="/user/create">Create User</inertia-link>
        </header>
        <article>
            <slot />
        </article>
    </main>
</template>

<script>
    export default {
        props: {
            title: String,
        },
        watch: {
            title: {
                immediate: true,
                handler(title) {
                    document.title = title
                },
            },
        },
    }
</script>
