<template>
  <form @submit.prevent="submit">
    <label for="name">Name :</label>
    <span v-if="$page.errors.name">{{ $page.errors.name[0] }}</span>
    <input id="name" v-model="form.name" />

    <label for="age">Age:</label>
    <span v-if="$page.errors.age">{{ $page.errors.age[0] }}</span>
    <input id="age" v-model="form.age" />

    <label for="address">Address:</label>
    <span v-if="$page.errors.address">{{ $page.errors.address[0] }}</span>
    <input id="address" v-model="form.address" />
    <button type="submit">Submit</button>
  </form>
</template>

<script>
import Main from '@/Layout/Main.vue'
export default {
    layout: Main,
  data() {
    return {
      form: {
        name: null,
        age: null,
        address: null,
      },
    }
  },
  methods: {
    submit() {
      this.$inertia.post('/user', this.form)
    },
  },
}
</script>
