<template>
    <div>
        <h1 class="mb-8 font-bold text-3xl">Users</h1>
        <div class="mb-6 flex justify-between items-center">
            <div v-if="$page.flash.message" class="alert">
                {{ $page.flash.message }}
            </div>
        </div>
        <div class="bg-white rounded shadow overflow-x-auto">
            {{users}}
        </div>
    </div>
</template>

<script>

    import Main from '@/Layout/Main.vue'

    export default {
        layout: Main,
        metaInfo: { title: 'Users' },
        // layout: Layout,
        props: {
            users: Object,
            filters: Object,
        }
    }
</script>
