<template>
    <div>
        <h1 class="mb-8 font-bold text-3xl">Login</h1>
    </div>
</template>

<script>

    import mapValues from 'lodash/mapValues'
    import pickBy from 'lodash/pickBy'
    import throttle from 'lodash/throttle'

    import Main from '@/Layout/Main.vue'

    export default {
        metaInfo: { title: 'Login' },
        layout: Main,
        props: {
            users: Object,
            filters: Object,
        }
    }
</script>
